{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camisas Grêmio</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>GRÊMIO DJANGO</h1>
            <form role="search" action="{% url 'search-product' %}">
                <input type="search" name="q">
                <button type="submit">Buscar</button>
            </form>
        </nav>
    </header>
    <main>
        <section class="tabela-produtos">
            <h2>Produtos Cadastrados</h2>
            <table class="tabela-produtos-detalhes">
                <thead>
                    <tr>
                        <th class="tabela-th">Código</th>
                        <th class="tabela-th">Descrição</th>
                        <th class="tabela-th">Categoria</th>
                        <th class="tabela-th">Estoque</th>
                        <th class="tabela-th">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td class="tabela-td">{{produto.cod}}</td>
                        <td class="tabela-td"><a href="{% url 'product-detail' produto.id %}">{{produto.name}}</a></td>
                        <td class="tabela-td">{{produto.category}}</td>
                        <td class="tabela-td">{{produto.qtd}}</td>
                        <td class="tabela-td">R$ {{produto.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
            <a class="add-button" href="{% url 'add-product' %}" type="submit">Add Produto</a>
        </section>
    </main>
    <footer class="footer">
        <img src="../../../media/ralph-rosto.png" alt="Ralph">
        <p>Created by Anderson Dutra</p>
        <img src="../../../media/teddy-rosto.png" alt="Teddy">
    </footer>

    <script>
        console.log(`{{ produtos }}`);
    </script>

</body>
</html>