{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ralph & Teddy - The Library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>    
        <nav class="navbar">
            <h1>GRÊMIO DJANGO</h1>
        </nav>
    </header>
    <main>
        <div class="login-container">
            {% if messages %}
                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
            <div class="login-logo">
            </div>
            <form class="login-form" method="POST"> {% csrf_token %}
                <input type="text" placeholder="Nome" class="login-input" name="username">
                <input type="password" placeholder="Senha" class="login-input" name="password">
                <button type="submit" class="btn-login">Acessar</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <img src="../../../media/ralph-rosto.png" alt="Ralph">
        <a href="https://github.com/AndersonDutra7" target="_blank"><i class="fab fa-github"></i></a>
        <p>Created by Anderson Dutra</p>
        <a href="https://www.linkedin.com/in/anderson-dutra-88b294211/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <img src="../../../media/teddy-rosto.png" alt="Teddy">
    </footer>

    <script>
        // console.log(`{{ books }}`);
    </script>

</body>
</html>